body
{
	background: #e5e5e5;
	padding: 0;
	margin: 0;
}

#craftingbench
{
	background: #fff;
	padding: 20px;
	box-shadow: 0 1px 0 #ccc;
	margin-right: 320px
}
	#craftingbench #crafted,
	#bench div
	{
		padding: 10px;
		background: #ddd;
		width: 50px;
		height: 50px;
		margin-right: 10px;
		margin-bottom: 10px;
		float: left;
	}
	#bench div:nth-child(3n+1)
	{
		clear:left;
	}
		#craftingbench #crafted img,
		#bench div img
		{
			width: 100%;
		}
	#furnace
	{

	}
		#furnace #uncooked
		{

		}
		#furnace #cooked
		{
			
		}
#items
{
	width: 300px;
	background: #fff;
	float: right;
}

	#items input
	{
		display: block;
		width: 300px;
		padding: 20px 20px;
		line-height: 30px;
		height: 60px;
		border: none;
		font-size: 150%;
		border-bottom: 1px solid #ccc;
	}

#itemlist
{
	overflow: auto;
}
	#itemlist ul
	{
		padding: 0;
		margin: 0;
		list-style: none;
	}
		#itemlist ul li
		{
			padding: 10px;
			border-bottom: 1px solid #ccc;
			line-height: 30px;
		}
			#itemlist ul li img
			{
				width: 30px;
				padding-right: 10px;
				vertical-align: middle;
			}

#footer
{
	clear: both;
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.clear
{
	clear: left;
}