body
{
	background: #e5e5e5;
	padding: 0;
	margin: 0;
}
#left
{
	margin-right: 320px
}
#craftingtable
{
	float: left;
	width: 300px;
	margin-left: 20px;
	border-top: 4px solid #fff;
	border-left: 4px solid #fff;
	border-right: 4px solid #373737;
	border-bottom: 4px solid #373737;
	background: #C6C6C6;
	padding: 20px;
	box-shadow: 0 1px 0 #ccc;
	position: relative;
	border-radius: 5px;
}
	#craftingtable h1
	{
		padding: 0 0 20px 0;
		margin: 0;
	}
	#craftingtable #crafted,
	#bench div
	{
		padding: 2px;
		background: #8D8D8D;
		width: 48px;
		height: 48px;
		margin-right: 10px;
		margin-bottom: 10px;
		float: left;
		border-top: 2px solid #373737;
		border-left: 2px solid #373737;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
	#bench div:nth-child(3n+1)
	{
		clear:left;
	}
		#craftingtable #crafted img,
		#bench div img
		{
			width: 100%;
		}
	#craftingtable #crafted
	{
		position: absolute;
		top:144px;
		right: 10px;
	}
	#furnace
	{

	}
		#furnace #uncooked
		{

		}
		#furnace #cooked
		{
			
		}
#itemtype
{
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
	#itemtype a
	{
		color: #6AA444;
		text-decoration: none;
		margin-left: 20px;
	}
	#itemtype a:first-of-type
	{
		margin: 0;
	}
#items
{
	width: 300px;
	background: #fff;
	float: right;
}

	#items input
	{
		display: block;
		width: 300px;
		padding: 20px 20px;
		line-height: 30px;
		height: 60px;
		border: none;
		font-size: 150%;
		border-bottom: 1px solid #ccc;
	}

#itemlist
{
	overflow: auto;
}
	#itemlist ul
	{
		padding: 0;
		margin: 0;
		list-style: none;
	}
		#itemlist ul li
		{
			padding: 10px;
			border-bottom: 1px solid #ccc;
			line-height: 30px;
			cursor: pointer;
		}
			#itemlist ul li img
			{
				width: 24px;
				padding-right: 10px;
				vertical-align: middle;
			}
			#itemlist ul li span
			{
				font-size: 12px;
			}

#footer
{
	clear: left;
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.clear
{
	clear: left;
}